@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4e1d1;
  }

.column {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.top-left {
  position: absolute;
  text-transform: uppercase;
  top: 3%;
  left: 13%;
}

.bottom-left {
  position: absolute;
  text-transform: uppercase;
  top: 1%;
  left: 13%;
}

.top-left2 {
  position: absolute;
  font-weight: 100;
  top: 6%;
  left: 13%;
}

.bottom-left2 {
  position: absolute;
  font-weight: 100;
  top: 4%;
  left: 13%;
}


.top-right {
  position: absolute;
  text-transform: uppercase;
  top: 3%;
  left: 53%;
}

.bottom-right {
  position: absolute;
  text-transform: uppercase;
  top: 1%;
  left: 53%;
}

.top-right2 {
  position: absolute;
  font-weight: 100;
  top: 6%;
  left: 53%;
}

.bottom-right2 {
  position: absolute;
  font-weight: 100;
  top: 4%;
  left: 53%;
}

.under {
  text-decoration: underline;
}

.text-container {
    max-width: 50%; 
    margin: 0 auto
  }

.text-container2 {
    max-width: 75%; 
    margin: 0 auto
  }

.text-container2 p {
  color:rgb(0, 0, 0);
}

.text-container2 a {
  color:rgb(0, 0, 0);
}

.text-container2 a:hover {
    color:#210dda;
  }

.viz-container {
    max-width: 40%; 
    margin: 0 auto
  }
  
h1 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight:500;
  }
  
h2 {
    letter-spacing: 1px;
    font-weight:400;
    font-size:20px;
  }

h3 {
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
p {
    font-weight: 300;
    letter-spacing: 1px;
  }

.menu {
    padding:20px;
    letter-spacing:.03em;
    background-color:#00B398;
  }
  
.menu a {
    text-decoration:none;
    text-transform: uppercase;
    font-weight:500;
    font-size:1em;  
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif; 
  }
  
.menu a:hover {
    color:#454545;
  }

#map {
    width: 35%;
    height: 600px;
    margin: 7em 3em;
    margin-bottom: 40px;
}

#map2 {
    width: 35%;
    height: 600px;
    margin: 6em 3em;
    margin-bottom: 40px;
}

#map3 {
    width: 35%;
    height: 600px;
    margin: 7em 3em;
    margin-bottom: 40px;
}

#map4 {
    width: 35%;
    height: 600px;
    margin: 6em 3em;
    margin-bottom: 40px;
}

.mapboxgl-popup-content h4 {
    font-weight: 500;
    font-size: 1.5em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}

.title {
	background-color: #fff;
	opacity: 70%;
	border-radius: 1em;
	top: 5em;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
	font: .8em/.9em 'Roboto', sans-serif;
	line-height: 2.5em;
	padding: 0em 0em 1em 1em;
	position: absolute;
	width: 230px;
	margin: 58em 76em;
	z-index: 100;
}

.title h1{
	opacity: 100%;
}

.title p {
	line-height: 1.5em;
	opacity: 100%;
}

.title div span {
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin-left: 5px;
	width: 10px;
}

.title hr {
	border-top: .2em dashed #404040;
	border-bottom: 0em;
	margin-top: .75em;
	margin-bottom: .75em;
}

.legend {
    font: 1em/1.5em 'Roboto', sans-serif;
    padding: .3em 1em .3em 1em;
    position: relative;
    right: 10px;
    z-index: 100;
    opacity: 100%;
  }

.legend h4 {
    margin: 0 0 10px;
    opacity: 100%
  }

.legend p {
    padding-top: 0px;
    margin-top: 0px;
  }

.legend div span {
    border-radius: 0%;
    display: inline-block;
    height: 10px;
    margin-top: 0px;
    margin-right: 20px;
    width: 10px;
  }